[submodule "hardware-integrations"]
	path = hardware-integrations
	url = git@github.com:EIC-Robocup-2026/hardware-integrations.git
[submodule "navigation"]
	path = navigation
	url = git@github.com:EIC-Robocup-2026/navigation.git
[submodule "vision-language"]
	path = vision-language
	url = git@github.com:EIC-Robocup-2026/vision-language.git
[submodule "text-to-speech"]
	path = text-to-speech
	url = git@github.com:EIC-Robocup-2026/text-to-speech.git
[submodule "speech-to-text"]
	path = speech-to-text
	url = git@github.com:EIC-Robocup-2026/speech-to-text.git
[submodule "robot-description"]
	path = robot-description
	url = git@github.com:EIC-Robocup-2026/robot-description.git
